<div
  id="parent"
  style="
    background-color: black;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: 600px;
    width: 600px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
  "
>
  <div
    id="title"
    style="
      text-align: center;
      color: white;
      font-size: 18px;
      padding: 10px;
      bottom: 10px;
    "
  >
    Welcome to Our Service
  </div>
  <div
    id="content"
    style="
      text-align: center;
      color: white;
      font-size: 16px;
      padding: 10px;
      bottom: 10px;
    "
  >
    We're excited to have you on board.
  </div>

  <div id="image" style="height: 300px; width: 300px; margin: auto">
    <img
      src="http://localhost:5000/uploads/1737624684544.png"
      style="height: 300px; width: 300px; margin: auto"
      alt="preview"
    />
  </div>
  <div
    id="footer"
    style="
      text-align: center;
      color: white;
      font-size: 14px;
      padding: 10px;
      bottom: 10px;
    "
  >
    Thank you for choosing us!
  </div>
</div>
