<div id="parent" style="background-color: black; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; height: 600px; width: 600px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto">
    <div id="title" style="text-align: center; color: #23cd4d; font-size: 18px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; bottom: 10px; text-align: center; font-size: 35px; padding: 10px; bottom: 10px;">Welcome to G</div>
<div id="content" style="text-align: center; color: white; font-size: 16px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; bottom: 10px; font-size: 25px; text-align: left; padding: 10px; bottom: 10px;">We're exci</div>

          <div style="height: 300px; width: 300px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto" >

          <img id="image" src="http://localhost:5000/uploads/1737717905481.png" style="height: 300px; width: 300px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto" alt="preview" />
          
          </div>
<div id="footer" style="text-align: center; color: #667c18; font-size: 14px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; bottom: 10px; text-align: center; font-size: 12px; padding: 10px; bottom: 10px;">Thank you for choosing us!</div>
  </div>